<div class="container mt-5">
    <div class="card card-body bg-light">
        <h1>Products</h1>

        <div class="table-responsive text-nowrap">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date created</th>
                        <th>Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of productList">
                        <td>{{p.id}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.dateCreation}}</td>
                        <td>{{p.productType}}</td>
                        <td><button type="button" class="btn btn-outline-warning" (click)="updateProduct(p.id)">EDIT</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div>
            <button type="button" class="btn btn-primary mr-1" routerLink="/add-product">Add</button>
            <button type="button" class="btn btn-secondary " routerLink="/add-productType">Add Type</button>
        </div>
    </div>
</div>